@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force dark mode defaults */
body {
  background-color: #000;
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
}